<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Bill McRoberts</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/github-light.css">
    <script src="javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Bill McRoberts</h1>
		<a href="mailto:bill.mcroberts@outlook.com">bill.mcroberts@outlook.com</a>
		<p/>
		<h1 class="header">In-App</h1>
		<hr/>
        <ul>
	      <li><a class="buttons github" href="#setup">Setup</a></li>
	      <li><a class="buttons github" href="#interface">Interface</a></li>
		  <li><a class="buttons github" href="#implementation">Implementation</a></li>
		  <li><a class="buttons github" href="#app">App</a></li>
		  <li><a class="buttons github" href="#walk">Walk-through</a></li>
		  <li><a class="buttons github" href="#test">Testing</a></li>
  		  <li><a class="buttons github" href="#publish">Publishing</a></li>
		  <p/>
		  <hr/>
		  <li><a class="buttons github" href="https://github.com/simsip-admin/InApp">View on GitHub</a></li>
		  <li><a class="buttons github" href="http://simsip-admin.github.io/">Back to Projects</a></li>
		  <p/>
		  <hr/>
        </ul>

      </header>
	  <section >
